@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-style: normal;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 1280px;
}

.wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

/*Кнопки*/

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border: none;
}

.button-hotel-search {
  padding: 8px 50px;
}

.button-reset {
  background-color: transparent;
}

.button-add-to-favorites {
  background-color: #82b3d3;
}

.button-added-to-favorites {
  background-color: #7db54f;
}

.hotels-card-button {
  background-color: #756157;
}

.navigation-button {
  padding: 8px 34px;
}

.button-link {
  text-decoration: none;
  color: #ffffff;
}

.page-footer .button {
  background-color: #82b3d3;
}

.sorting-button {
  width: 48px;
  height: 48px;
  border: #000000;
  margin: 0;
}

/*Хедэр*/

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 64px;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 44px;
  width: 500px;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  padding: 0;
  align-items: center;
}


.navigation-item {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  align-items: center;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
  min-height: 30px;
  min-width: 20px;
  text-align: center;
  text-transform: capitalize;
}


.sedona-logo {
  display: block;
  margin-left: 70px;
}


/*Hero*/

.hero {
  background-image: url("../images/index-background.jpg");
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 69px;
}

.hero-text {
  text-align: center;
  padding-top: 25px;
}

.hero-text-reasons {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;
}


.hero-img {
  margin: 0 auto;
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;
}

/*Преимущества*/

.advantages-list {
  margin-top: 69px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.item-with-picture {
  display: flex;
  width: 1200px;
  max-height: 385px;
}

.item-with-picture-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 112px;
  padding-bottom: 30px;
  padding-left: 112px;
  padding-right: 112px;
}

.item-with-picture-text {
  width: 400px;
  min-height: 385px;
}

.advantages-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 112px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-real-town {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  list-style: none;
}

.advantages-real-town-picture {
  width: 800px;
  display: block;
}

.advantages-little-square {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  list-style: none;
  width: 400px;
  min-height: 385px;
}

.advantages-road {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.2);
  list-style: none;
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.advantages-little-tourists {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.advantages-devils-bridge {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  list-style: none;
  width: 1200px;
}

.advantages-devils-bridge-picture {
  width: 800px;
  height: 385px;
  display: block;
}


/*Приезжайте в Седону*/

.welcome {
  text-align: center;
}

.welcome-description-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 20px;
  margin: 0;
}


.welcome-description {
  padding-top: 0;
  padding-bottom: 64px;
  margin: 0;
}


.recommendations-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 1200px;
}


.recommendations-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 183px;
  padding-bottom: 0;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 30px;
}

.recommendations-description {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 144px;
  padding-left: 85px;
  padding-right: 85px;
}

.recommendations-item-food {
  background-color: #ffffff;
  width: 400px;
  min-height: 385px;
}

.recommendations-item-live {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}

.recommendations-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}


/*Поиск гостиницы в Седоне*/

.hotel-search {
  text-align: center;
  padding: 96px 304px 96px 304px;
}

.hotel-search-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

.hotel-search-description {
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

/*Подписка*/

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 1200px;
  height: 415px;
  margin: 0;
  padding: 0;
}

.subscribe-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 0;
}

.subscribe-description {
  padding-bottom: 54px;
  margin: 0;
}

.subscription-form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 104px;
}

.field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
}

.subscribe-catalog {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

/*Футер*/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-right: 70px;
  padding-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-social-item {
  padding: 10px;
}

.main-footer-phone {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.footer-phone {
  margin-bottom: 30px;
}

/*Каталог форма поиска*/

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.catalog-filter-form {
  display: flex;
  background-image: url("../images/catalog/filter-background.jpeg");
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: capitalize;
  width: 1200px;
  height: 412px;
  margin-bottom: 50px;
}

.catalog-filter-item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  padding: 0;
  margin: 0;
}

/*Каталог найденные гостиницы*/

.filter-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 70px;
  margin-right: 70px;
}

.select-control {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.hotels-list {
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 340px);
  margin-top: 40px;
  list-style: none;
  margin-left: 70px;
  margin-right: 70px;
  row-gap: 20px;
  padding: 0;
}


.hotels-card {
  padding: 20px;
  border: #e6e6e6 1px solid;
}


.filter-select-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
}

.hotels-card-image {
  object-fit: contain;
  width: 300px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: right;
}

/*Пагинация*/

.pagination {
  display: flex;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  list-style: none;

}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
  min-width: 60px;
  padding: 13px 5px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  margin-right: 8px;
}

.pagination-disabled {
  background-color: #ffffff;
  margin-right: 8px;
  padding: 13px 23px;
}
