@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  font-style: normal;
  background-color: #f2f2f2;
  margin: 0;
  min-width: 1280px;
}

.wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

/*Кнопки*/

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border: none;
  padding: 8px 26px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: #615048;
}

.button:focus-visible {
  background: #615048;
}

.button-:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button:disabled {
  background: #E5E5E5;
  color: #ffffff;
}

.button-hotel-search {
  width: 376px;
  height: 52px;
  padding: 8px 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.button-reset {
  background-color: transparent;
  width: 191px;
  height: 36px;
  display: inline-block;
}

.button-reset:focus-visible {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
  color: #FFFFFF;
  opacity: 0.2;
}

.button-reset:disabled {
  color: #FFFFFF;
  opacity: 0.1;
}

.button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  margin-bottom: 16px;
  width: 191px;
  height: 36px;
  display: inline-block;
}

.button-add-to-favorites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  margin-bottom: 16px;
  width: 140px;
  height: 36px;
  display: inline-block;
}

.button-add-to-favorites:hover {
  background: #68a2ca;
}

.button-add-to-favorites:focus-visible {
  background: #68a2ca;
}

.button-add-to-favorites:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-add-to-favorites:disabled {
  background: #e5e5e5;
}

.button-submit:hover {
  background: #68a2ca;
}

.button-submit:focus-visible {
  background: #68a2ca;
}

.button-submit:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background: #e5e5e5;
}

.button-added-to-favorites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #7db54f;
  border: none;
  cursor: pointer;
  padding: 8px 18px;
  margin-bottom: 16px;
  width: 140px;
  height: 36px;
  display: inline-block;
}

.button-added-to-favorites:hover {
  background: #6c9e42;
}

.button-added-to-favorites:focus-visible {
  background: #6c9e42;
}

.button-added-to-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-added-to-favorites:disabled {
  background: #e5e5e5;
}

.hotels-card-button {
  background-color: #756157;
}

.navigation-button {
  padding: 8px 34px;
}

.button-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  height: 20px;
}

.button-subscribe {
  width: 232px;
  height: 52px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}


.button-subscribe:hover {
  background: #68a2ca;
}

.button-subscribe:focus-visible {
  background: #68a2ca;
}

.button-subscribe:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background: #e5e5e5;
}




/*Хедэр*/



.sedona-logo-link {  position: relative;
  z-index: 1;
}

.navigation-logo {
  display: block;
}


.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffffff;
  margin-bottom: -6px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28px;
}

.navigation-user {
  max-width: 267px;
  gap: 20px;
  padding-top: 14px;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  list-style-type: none;
}

.navigation-link {
  padding: 17px 16px;
  min-width: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-link:active,
.navigation-link-heart:active,
.navigation-link-search:active {
  background-color: rgb(160 160 160 / 19%);
}

.navigation-link:hover,
.navigation-link-heart:hover,
.navigation-link-search:hover {
    background-color: rgb(160 160 160 / 19%);
}

.navigation-link:focus,
.navigation-link-heart:focus,
.navigation-link-search:focus {
  background-color: rgb(160 160 160 / 50%);
}

.navigation-link-active::before {
  position: absolute;
  right: 15px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-search {
  padding: 32px 12px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navigation-link-search:hover::before {
  display: none;
}

.navigation-link-heart {
  padding: 35px 12px;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.favorites-count {
  position: relative;
}

.favorites-count::before {
  position: absolute;
  content: "";
  background-color: rgba(125, 181, 79, 1);
  width: 20px;
  height: 20px;
  top: calc(50% - 10px/2 - 11px);
  left: calc(50% - 11px/2 + 7.5px);
  border-radius: 25px;
  z-index: 1;
}

.favorites-count-icon {
  position: absolute;
  font-size: 10px;
  color: #ffffff;
  z-index: 1;
  width: 11px;
  height: 10px;
  left: 19px;
 top: -3px;
  text-align: center;}




/*Hero*/

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82b3d3;
  margin: 0;
  position: relative;
}

.hero::after {
  content: "";
  background-image: url(../images/divider.svg);
  background-size: 100% auto;
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.hero-text {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 69px;

}

.hero-text-reasons-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;

}

.hero-text-reasons {
  margin: 0;
  padding-bottom: 25px;
}


.hero-img {
  margin: 0 auto;
  display: block;
  padding-top: 51px;
  padding-bottom: 82px;

}

/*Преимущества*/

.advantages-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
}

.item-with-picture {
  display: flex;
  width: 1200px;
  max-height: 385px;
}

.item-with-picture-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 112px;
  padding-bottom: 30px;
  padding-left: 112px;
  padding-right: 112px;
  position: relative;
}

.advantages-title-underline-white::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -2px;
  position: absolute;
  right: 171px;
}

.advantages-title-underline-dark::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  position: absolute;
  right: 171px;
}


.item-with-picture-text {
  width: 400px;
  min-height: 385px;
}

.advantages-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 112px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-real-town {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  list-style: none;
}

.advantages-real-town-picture {
  width: 800px;
  display: block;
}

.advantages-little-square {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  list-style: none;
  width: 400px;
  min-height: 385px;
}

.advantages-road {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.2);
  list-style: none;
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.advantages-little-tourists {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.advantages-devils-bridge {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  list-style: none;
  width: 1200px;
}

.advantages-devils-bridge-picture {
  width: 800px;
  height: 385px;
  display: block;
}


/*Приезжайте в Седону*/

.welcome {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.welcome-description-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;
}


.welcome-description {
  margin: 0;
  padding-bottom: 25px;
}


.recommendations-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  max-height: 385px;
}


.recommendations-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 183px;
  padding-bottom: 0;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 30px;
}

.recommendations-description {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 144px;
  padding-left: 85px;
  padding-right: 85px;
}

.recommendations-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  position: relative;
}


.recommendations-item-food {
  background-color: #ffffff;
  width: 400px;
  min-height: 385px;
}

.recommendations-item-live {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}

.recommendations-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
}

.recommendations-item-live::before {
  padding: 40px;
  background-image: url(../images/icons/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 81px;
  right: 10px;
  left: 10px;
}

.recommendations-item-food::before {
  padding: 40px;
  background-image: url(../images/icons/icon-food.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 81px;
  right: 10px;
  left: 10px;
}

.recommendations-item-souvenirs::before {
  padding: 40px;
  background-image: url(../images/icons/icon-souvenir.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 81px;
  right: 10px;
  left: 10px;
}

/*Поиск гостиницы в Седоне*/

.hotel-search {
  text-align: center;
  padding: 96px 304px 96px 304px;
}

.hotel-search-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;
}

.hotel-search-description {
  padding-bottom: 54px;
}

/*Подписка*/

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;
}

.subscribe-description {
  margin: 0;
  padding-bottom: 25px;
}

.subscription-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.subscribe-field {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 432px;
  background-color: #f2f2f2;
  padding-left: 20px;
  }


.subscribe-catalog {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
}

/*Футер*/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-right: 70px;
  padding-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.footer-social-link {
  fill: #83b3d3;
    padding: 10px;
  }


.footer-social-link:hover svg{
  fill: #68a2ca;
}

.footer-social-link:focus svg{
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus-visible svg{
  fill: #68a2ca;
}

.main-footer-phone {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.main-footer-phone:hover {
  color: #756157;
}

.main-footer-phone:focus {
  color: rgba(117, 97, 87, 0.3);
}

.main-footer-phone:focus-visible {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone {
  margin-bottom: 30px;
}



.footer-image:hover svg {
  fill: #756157;
}

.footer-image:focus svg{
  fill: rgba(117, 97, 87, 0.3);
}

.footer-image:focus-visible svg{
  fill: #756157;
}

/*Каталог форма поиска*/

.catalog-filter-form {
  background-color: #000000;
  background-image: url("../images/catalog/filter-background.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 56px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  background-image: url(../images/icons/stroke.svg);
  background-repeat: no-repeat;
  padding: 0 15px;
  background-position: left;
}

.breadcrumbs-item:first-child {
  background-image: none;
}

.breadcrumbs-link-home {
  position: relative;
}

.breadcrumbs-link-home::before {
  padding: 13px;
  background-image: url(../images/icons/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  left: -15px;
  bottom: 0;
}

.catalog-filter {
  color: #ffffff;
  height: 160px;
  display: flex;
  gap: 70px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.filter-legend-title {color: #ffffff;
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.label-options {font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;}

.filter {border:0 none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;}


  .range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #e5e5e5;;
    border-radius: 4px;
    width: 288px;

  }

  .range {padding-top: 36px;}

  .range-bar {
    position: absolute;
    height: 4px;
    opacity: 0.3;
    background-color: #ffffff;
    width: 228px;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #242424;
    border-radius: 4px;
    cursor: pointer;
  }

  .toggle-min {
    top: -8px;
    left: -10px;
  }

  .toggle-max {
    top: -8px;
    right: -10px;
  }

.label-options-input[type="radio"] {border-radius: 50%;}

.range-number {
  width: 143px;
  height: 48px;
  background: #F2F2F2;
  padding: 0;
    margin: 0;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}

.range-from-field-text::-webkit-input-placeholder{
  text-align:right;
  z-index: 1;
}

  .input-range-numbers {
    display: flex;
    gap: 2px;
    padding: 0;
    margin: 0;
    padding-top: 32px;
  position: relative;}

  .range-from-field-text {width: 143px;
  height: 48px;
padding: 12px 20px;
padding-right: 40px;
box-sizing: border-box;
border: none;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
z-index: 2;

}


/*Каталог найденные гостиницы*/

.filter-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
}

.sorting-button {
  width: 48px;
  height: 48px;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sorting-button-table {
  background-image: url(../images/icons/sort-table.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sorting-button-display {
  background-image: url(../images/icons/sort-display.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sorting-button-list {
  background-image: url(../images/icons/sort-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sorting-button:hover {
  border: 1px solid #000000;
}

.sorting-button:focus-visible {
  border: 1px solid #68a2ca;
}

.sorting-button:focus {
  border: 1px solid #68a2ca;
}

.select-control:hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:focus-visible {
  border: 2px solid #68a2ca;
}

.select-control {
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  min-height: 49px;
  margin-right: 70px;
  border-color: #e5e5e5;
  border-radius: 4px;

}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

}

.hotels {
  padding-left: 70px;
}

.hotels-card-link {
  grid-column: 1/-1;
  padding-bottom: 16px;
  text-decoration: none;
}


.hotels-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 20px;
  border: #e6e6e6 1px solid;
  border-radius: 4px;
  gap: 16px;
}

.hotels-card-image-link {
  grid-column: 1/-1;
  padding-bottom: 16px;
}


.hotels-card-image img {
  object-fit: contain;
  width: 300px;
  display: block;
}

.filter-select-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  margin-right: auto;
}

.hotels-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  margin: 0;
  color: #000000
}

.hotels-card-image {
  object-fit: contain;
  width: 300px;
}

.hotels-type {
  margin: 0;
  padding-bottom: 16px;
  text-align: start;
}

.hotels-price {
  margin: 0;
  padding-bottom: 16px;
  text-align: end;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 400;
  text-align: center;
  padding: 8px 20px;
  border-radius: 4px;
  margin: 0;
}

.rating-stars {
align-self: center;
height: 100%;
width: 100%;
}


.stars4 {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%, url("../images/icons/star.svg") no-repeat 48px 50%, url("../images/icons/star.svg") no-repeat 72px 50%;
}

.stars3 {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%, url("../images/icons/star.svg") no-repeat 48px 50%;
}

.stars2 {
  background: url("../images/icons/star.svg") no-repeat 0 50%, url("../images/icons/star.svg") no-repeat 24px 50%;
}



/*Пагинация*/

.pagination {
  display: flex;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  list-style: none;

}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  display: block;
  min-width: 60px;
  padding: 13px 5px;
  box-sizing: border-box;
  border-radius: 4px;

}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  margin-right: 8px;
}

.pagination-disabled {
  background-color: #ffffff;
  margin-right: 8px;
  padding: 13px 23px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: #68a2ca;
  }
}

.pagination-link-selected {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  width: 570px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 26px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
font-style: normal;
}

.modal-button {
width: 577px;
height: 60px;
position: relative;
z-index: 1;
display: block;
padding: 31px 0;
font-size: 21px;
color: #ffffff;}

.modal-button:hover,
.modal-button:focus {
  background-color: #604e43;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-form {position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 395px;
  padding: 50px 60px;
  font-size: 14px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);}

  .modal-option {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-bottom: 30px;
  }
